<main class="container mx-auto max-w-md">
  <h2 class="text-4xl font-medium mb-4">Sign up</h2>

  <%= render partial: "form", locals: { resource: resource, resource_name: resource_name } %>

  <%= render "devise/shared/links" %>
</main>
